Package: gummi-dbgsym
Source: gummi
Version: 0.8.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Marcin Stefanowicz <matiowo@wp.pl>
Installed-Size: 267
Depends: gummi (= 0.8.3-1)
Section: debug
Priority: optional
Description: debug symbols for gummi
Build-Ids: 6138fe337e03930bbe6e12d1550d25377ba0a8e0
