Source: gummi
Section: unknown
Priority: optional
Maintainer: Marcin Stefanowicz <matiowo@wp.pl>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 autotools-dev,
 libxcursor-dev:amd64,
 libxinerama-dev:amd64,
 libunistring2:amd64,
 libxml2-dev:amd64,
 libxml2:amd64,
 libperl5.34:amd64,
 libpixman-1-0:amd64,
 libatk-bridge2.0-0:amd64,
 gawk,
 libmount-dev:amd64,
 libxext-dev:amd64,
 libxkbcommon0:amd64,
 libicu67:amd64,
 libfontconfig-dev:amd64,
 libxml-parser-perl:amd64,
 libpoppler-glib-dev,
 oracle-instantclient-basic,
 libenchant-2-dev:amd64,
 libtiff-dev:amd64,
 mailcap,
 libxinerama1:amd64,
 libharfbuzz-dev:amd64,
 libxcb-render0:amd64,
 libpcre2-dev:amd64,
 libegl-dev:amd64,
 libselinux1-dev:amd64,
 libx11-dev:amd64,
 libharfbuzz0b:amd64,
 libatspi2.0-dev:amd64,
 libthai0:amd64,
 libfontconfig1:amd64,
 libpangocairo-1.0-0:amd64,
 libwayland-egl1:amd64,
 libgtk-3-dev:amd64,
 libwayland-dev:amd64,
 libatk-bridge2.0-dev:amd64,
 libglib2.0-0:amd64,
 libsynctex-dev:amd64,
 libblkid-dev:amd64,
 libdbus-1-dev:amd64,
 zlib1g-dev:amd64,
 libxcb-shm0:amd64,
 libxcursor1:amd64,
 intltool,
 libgdk-pixbuf-2.0-dev:amd64,
 libxcomposite1:amd64,
 libxfixes-dev:amd64,
 libxfixes3:amd64,
 libpango1.0-dev:amd64,
 libpangoft2-1.0-0:amd64,
 libxcb-shm0-dev:amd64,
 pkg-config,
 libdatrie1:amd64,
 libxcomposite-dev:amd64,
 libbrotli-dev:amd64,
 libfribidi0:amd64,
 libgtkspell3-3-dev:amd64,
 libc6-i386,
 perl-modules-5.34,
 libxdmcp6:amd64,
 libjpeg62-turbo-dev:amd64,
 x11proto-dev,
 libxdamage1:amd64,
 libxrandr-dev:amd64,
 libsepol-dev:amd64,
 libgraphite2-3:amd64,
 uuid-dev:amd64,
 libgl-dev:amd64,
 libcairo2:amd64,
 libepoxy0:amd64,
 libfreetype6:amd64,
 libxkbcommon-dev:amd64,
 libffi-dev:amd64,
 libxau6:amd64,
 libdatrie-dev:amd64,
 libffi8:amd64,
 libbrotli1:amd64,
 libxext6:amd64,
 libfribidi-dev:amd64,
 libxrender-dev:amd64,
 libx11-6:amd64,
 libbsd0:amd64,
 libgtk-3-0:amd64,
 libwayland-cursor0:amd64,
 libxrandr2:amd64,
 libjpeg62-turbo:amd64,
 libwayland-client0:amd64,
 libpango-1.0-0:amd64,
 libfakeroot:amd64,
 libxtst-dev:amd64,
 libcairo-gobject2:amd64,
 libpng-dev:amd64,
 gettext,
 libatk1.0-0:amd64,
 libgtksourceview-3.0-dev:amd64,
 libepoxy-dev:amd64,
 libgraphite2-dev:amd64,
 libfreetype-dev:amd64,
 libxi6:amd64,
 libpixman-1-dev:amd64,
 libgdk-pixbuf-2.0-0:amd64,
 libxdamage-dev:amd64,
 libxft-dev:amd64,
 libthai-dev:amd64,
 libxi-dev:amd64,
 libpcre3-dev:amd64,
 libexpat1-dev:amd64,
 shared-mime-info,
 libxcb1:amd64,
 libpng16-16:amd64,
 libxcb1-dev:amd64,
 libsigsegv2:amd64,
 libmd0:amd64,
 libxcb-render0-dev:amd64,
 libatspi2.0-0:amd64,
 libatk1.0-dev:amd64,
 libxdmcp-dev:amd64,
 libxau-dev:amd64,
 libxrender1:amd64,
Standards-Version: 4.6.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/gummi
#Vcs-Git: https://salsa.debian.org/debian/gummi.git

Package: gummi
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: The simple LaTeX editor
 Gummi is a LaTeX editor. It is a GTK+ application which runs on Linux systems. 
 Gummi has many useful features needed to edit LaTeX source code, such as: live preview, SyncTeX integration and templates.
